name: rss
on:
  push:
    branches:
      - main  # Set a branch name to trigger deployment
  schedule:
    # every 1 hour
    - cron: '0 * * * *'
jobs:
  book-rss:
    name: "Generate RSS"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install
        run: yarn install
      - name: Generate RSS
        run: yarn run main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
